@import "../../../assets/partials/colors";

.wrapper {
    height: 100px;
    display: flex;
    flex-direction: row;
    // box-shadow: 0 2px 2px #efefef;
    justify-content: space-around;
    flex-wrap: wrap;
    @media (min-width: 1000px) {
flex-wrap: nowrap;
    }
  }


  .home--img{
    height: 100%;
    width: 50%;
    @media (min-width: 1000px) {
    height: auto; 
    width: auto
    }  }

    
  a {
    cursor: pointer;
    color: black;
  }
  .logo {
    height: 50px;
  }
  .header-content {
    align-items: center;
    text-decoration-skip: unset;
  }
  a:link {
    text-decoration: none;
    color: black;
  }
  a:active {
    color: black;
  }
  
 
  .header-right {
    display: flex;
    align-items: center;
  }
  .header-right > a {
    margin-right: 10px;
  }
  .cart {
    display: flex;
    margin-top: 5px;
    // background-color: grey;
    height: 30px;
    align-items: center;
    width: 100px;
  }

  .btn{
    border: none;
  }
  .btn--mob{
    margin-top:2rem;
    @media (min-width: 1000px) {
      margin:0;
            }
  }
  a:active ,a:hover{
    border-bottom:2px solid #777777;
  }

.active{
  color:$color-white;
  background-color: $mergenta;
  padding:0.4rem;

}

.nav--flex-column{
  display: flex; 
  flex-direction:column
}
.nav--flex{
  display: flex;
}

.nav--flex {
  display: none;
  @media (min-width: 1000px) {
  display: flex;
  // flex-direction:column
        }
}

.content {
  display: none;
  margin: 10px;
  @media (min-width: 1000px) {
    display: block;
          }
}