
<nav
  class="wrapper"
>
<div class="logo">
    <a routerLink="home"
      ><img
        src="../../assets/logo.png"
        alt="Sabka Bazaar logo"
    /></a>
  </div>

  <div class="header-content wrapper">
    <div class="content">
      <a routerLink="/home">Home</a>
    </div>
    <div class="content space">
      <a routerLink="/product">Products</a>
    </div>
    <div class="content">
      <a routerLink="/login">Login</a>
    </div>
    <div class="content">
      <a routerLink="/register">Register</a>
    </div>
  </div>