<div class="container">
    <div class="">
      <h1 class="title">Signup</h1>
      <p class="title-description">We do not share your personal details with anyone.
      <p>
    </div>
    <div>
      <form [formGroup]="registrationForm" (ngSubmit)="registrationForm.valid && onSubmit()"> 
        <div class="form-group">
          <label for="firstName" class="bmd-label-floating">First Name</label>
          <input type="text" class="form-control" id="firstName" formControlName="firstName" 
	  [ngClass]="{'is-invalid':registrationForm.get('firstName').touched && registrationForm.get('firstName').invalid}"
                    required >
 <div *ngIf="registrationForm.get('firstName').touched && registrationForm.get('firstName').invalid " class="error">
                    <div>Required</div>
                </div>
        </div>
        
        <div class="form-group">
          <label for="lastName" class="bmd-label-floating">Last Name</label>
          <input type="text" class="form-control" id="lastName" formControlName="lastName" />
        </div>
        <div *ngIf="
            (registrationForm.get('lastName').touched ||
              registrationForm.get('lastName').dirty) &&
            registrationForm.get('lastName').invalid
          " class="error">
          Required
        </div>
        <div class="form-group">
          <label for="email" class="bmd-label-floating">Email</label>
          <input type="email" class="form-control" id="email" formControlName="email" />
        </div>
        <div *ngIf="
            (registrationForm.get('email').touched ||
              registrationForm.get('email').dirty) &&
            registrationForm.get('email').invalid
          " class="error">
          <div *ngIf="registrationForm.get('email').errors.required">Email Name is required</div>
          <div *ngIf="registrationForm.get('email').errors.email">Email must be a valid email Address</div>
        </div>
        <div class="form-group">
          <label for="password" class="bmd-label-floating">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password" />
        </div>
        <div *ngIf="
            (registrationForm.get('password').touched ||
              registrationForm.get('password').dirty) &&
            registrationForm.get('password').invalid
          " class="error">
          <div *ngIf="registrationForm.get('password').errors.required">Password is required</div>
          <div *ngIf="registrationForm.get('password').errors.minlength">Password must be at least 6 characters</div>
        </div>
        <!-- <div class="form-group">
          <label for="confirmPassword" class="bmd-label-floating">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" />
        </div>
        <div *ngIf="
            (registrationForm.get('confirmPassword').touched ||
              registrationForm.get('confirmPassword').dirty) &&
            registrationForm.get('confirmPassword').invalid
          " class="error-msg">
          {{
          registrationForm.get("confirmPassword")?.errors.required
          ? validationMessages.confirmPassword.required
          : validationMessages.confirmPassword.compare
          }}
        </div> -->
        <button class="btn btn-primary signup-btn" [disabled]="!registrationForm.valid">Signup</button>
        <!-- <button aria-label="Sign up" type="submit" class="btn btn-danger btn-raised action-btn" [disabled]="!registrationForm.valid">Signup</button> -->
      </form>
    </div>
  </div>