$color-gray: #f8f9fa;
$color-blue: #85d8dc;
$color-pink: #c03e57;
$color-light-pink: #f3e1e5;
$color-white: #cccccc;
$color-dark-gray: #a9a9a9;
$color-cyan: cyan;
$color-black: #000000;
$base-font-color: #555;
$primary-color1: #d63031;
$primary-color: #af2d2d;
$border-dark: rgba($primary-color, 0.88);
$base-font-color: #555;
$dark-font-color: #2c2c2c;
$grey-bg: #eeeeee;

$success-bg: #ddffdd;
$warning-bg: #ffffcc;
$error-bg: #ffdddd;

$main-content-height: 80vh;
