@import "../../styles.scss";

aside {
  background-color: $color-gray;
}

.side-bar {
  border-bottom: 1px solid $color-dark-gray;
  padding: 5px;
  list-style: none;
  a {
    cursor: pointer;
  }
}

.highlightCategory {
  background-color: $color-pink;
  color: $color-white;
}

//desktop
@media only screen and (max-width: 1700px) and (min-width: 576px) {
  .prod-list-menu {
    background-color: $grey-bg;
    display: block;
    min-height: 80vh;
  }

  .prod-list-select {
    display: none;
  }

  .product-list {
    height: 80vh;
    overflow: auto;
    padding-top: 40px;
  }
}
//mobile
@media only screen and (max-width: 575px) {
  .prod-list-menu {
    display: none;
  }

  .prod-list-select {
    display: block;
    padding: 1rem 1rem 0rem 1rem;
    width: 100%;

    select {
      font-size: 110%;
      font-weight: 600;
      background-color: $primary-color;
      appearance: none;
      width: 100%;
      padding: 10px 25px;
      color: #fff;
      border: 0px;
      border-radius: 0px;
      background-size: 40px 20px;
    }

    option:hover {
      background-color: rgba($primary-color, 0.6);
    }
  }
}

a:active,
a:hover {
  border-bottom: 2px solid #777777;
}
